{% extends 'generic_admin.html' %}

{% block title %}Inicio{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/administrador/adminsitrador.css' %}">
{% endblock %}

{% block home_active %}active{% endblock %}

{% block home_icon %}
<img src="{% static 'icon/hogar-color.png' %}" alt="Home">
{% endblock %}

{% block content %}
<div class="content-home">
    <div class="left-home">
        <div class="left-header">
            <h2>{{ fecha }}</h2>
            <div>
                <div>
                    <p>Doctores</p>
                    <h1>{{ total_doctores }}</h1>
                </div>

                <div>
                    <p>Pacientes</p>
                    <h1>{{ total_pacientes }}</h1>
                </div>
            </div>
            <img src="{% static 'img/nurse-home-admin.png'%}" alt="">
        </div>
        <div class="left-main">
            <h3>Citas de Pacientes</h3>
            <div>
                <div id="atendido">
                    <p>Completadas</p>
                    <h1>{{ citas_completadas }}</h1>
                </div>
                <div id="pendiente">
                    <p>Pendientes</p>
                    <h1>{{ citas_programadas }}</h1>
                </div>
                <div id="emergencia">
                    <p>Canceladas</p>
                    <h1>{{ citas_canceladas }}</h1>
                </div>
            </div>
        </div>
        <div class="left-footer">
            <h3>Pacientes</h3>
            <div>
                <button onclick="window.location.href='{% url 'agregar-doctor' %}'">
                    <img src="{% static 'icon/diente-selected.png'%}" alt="">
                    <h2>Agregar Doctor</h2>
                </button>
    
                <button onclick="window.location.href='{% url 'agregar-cliente-admin' %}'">
                    <img src="{% static 'icon/agregar-usuario.png'%}" alt="">
                    <h2>Agregar Usuario</h2>
                </button>
            </div>
        </div>
    </div>
    <div class="right-home">
        <div class="dashboard">
            <div class="date-container">
                <h2>Ingresos</h2>
            </div>
            
            <div class="stats-container">
                <div class="stat-box">
                    <h4>Total Ingresos</h4>
                    <p>s/{{ ingresos_totales }}</p>
                </div>
                <div class="stat-box">
                    <h4>Último mes</h4>
                    <p>s/{{ ingresos_ultimo_mes }}</p>
                </div>
                <div class="stat-box">
                    <h4>Última semana</h4>
                    <p>s/{{ ingresos_ultima_semana }}</p>
                </div>
                <div class="stat-box">
                    <h4>Ingresos Actuales</h4>
                    <p>s/{{ ingresos_hoy }}</p>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}



{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const bars = document.querySelectorAll('.bar');
        
        bars.forEach(bar => {
            const value = bar.getAttribute('data-value');
            bar.style.height = value + '%'; // Ajusta la altura de la barra en función del valor
        });
    });
</script>
{% endblock %}