{% extends 'generic_admin.html' %}

{% block title %}Doctores{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/administrador/admin-doctor.css' %}">
{% endblock %}

{% block doctor_active %}active{% endblock %}

{% block doctor_icon %}
    <img src="{% static 'icon/doctor-color.png' %}" alt="doctor">
{% endblock %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="home-perfil">
    <div class="header-buttons">
        <button id="modificar" onclick="window.location.href='{% url 'editar-doctor' doctor.id %}'">Modificar</button>
        <form action="{% url 'eliminar-doctor' doctor.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" id="eliminar">Eliminar</button>
        </form>
    </div>
    
    <div class="content-main">
        <div class="left">
            <div class="left-header">
                <img src="{{doctor.foto_perfil.url}}" alt="">
                <h2>{{doctor.nombre}} {{doctor.apellidos}}</h2>
                <p>{{doctor.especialidad}}</p>
            </div>
            <div class="left-nav">
                <ul>
                    <li id="selected"><img src="{% static "icon/informacion-selected.png" %}" alt=""><a href="">Datos</a></li>
                    <li><img src="{% static "icon/history-disabled.png" %}" alt=""><a href="">Historial</a></li>
                    <li><img src="{% static "icon/cv-disabled.png" %}" alt=""><a href="{% url 'cv' doctor.id %}">Cv</a></li>
                </ul>
            </div>
        </div>
    
        <div class="right">
            <ul>
                <li>DNI: <strong>{{doctor.dni}}</strong> </li>
                <li>Nombre de usuario: <strong>{{doctor.username}}</strong> </li>
                <li>Contraseña: <strong>{{doctor.password}}</strong> </li>
                <li>Direccion: <strong>{{doctor.direccion}}</strong> </li>
                <li>Telefono: <strong>{{doctor.celular}}</strong> </li>
                <li>Correo: <strong>{{doctor.email}}</strong> </li>
                <li>Genero: <strong>{{doctor.genero}}</strong> </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    setTimeout(function() {
        const messages = document.querySelector('.messages');
        if (messages) {
            messages.style.display = 'none';
        }
    }, 3000);
</script>
{% endblock %}
