{% extends 'generic-recepcion.html' %}

{% block title %}Clientes{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/recepcion/clientes.css' %}">
{% endblock %}

{% block cliente_active %}active{% endblock %}

{% block cliente_icon %}
<img src="{% static 'icon/client-color.png' %}" alt="cliente">
{% endblock %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<header>
    <h1>Lista de Clientes</h1>
    <div>
        <img src="{% static 'icon/busqueda.png'%}" alt="busqueda">
        <input type="text" id="searchInput" placeholder="Buscar">
    </div>
    <button onclick="window.location.href='{% url 'agregar-paciente' %}'" >Agregar</button>
</header>

<div class="table-container">
    <table id="doctorsTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ocupacion</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Citas</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <div class="info">
                            <a href="{% url 'cliente' client.id %}"><img src="{{client.foto_perfil.url}}" alt="{{ client.name }}"></a>
                            <span>{{ client.nombre }} {{client.apellidos}}</span>
                        </div>
                    </td>
                    <td>{{ client.ocupacion }}</td>
                    <td>{{ client.celular }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.total_citas  }}</td>
                    <td>
                        {% if client.esta_activo %}
                            <button class="button-green">Correcto</button>
                        {% else %}
                            <button class="button-red">Deuda</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const tableRows = document.querySelectorAll('#doctorsTable tbody tr');

        searchInput.addEventListener('keyup', function() {
            const searchTerm = searchInput.value.toLowerCase().trim();

            tableRows.forEach(row => {
                const doctorName = row.querySelector('.info span').textContent.toLowerCase();

                if (doctorName.includes(searchTerm)) {
                    row.style.display = ''; 
                } else {
                    row.style.display = 'none';  
                }
            });
        });
    });

    setTimeout(function() {
        const messages = document.querySelector('.messages');
        if (messages) {
            messages.style.display = 'none';
        }
    }, 3000);
    
</script>
{% endblock %}