{% extends 'generic-recepcion.html' %}

{% block title %}Clientes{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/administrador/form-client.css' %}">
{% endblock %}

{% block cliente_active %}active{% endblock %}

{% block cliente_icon %}
<img src="{% static 'icon/client-color.png' %}" alt="cliente">
{% endblock %}

{% block content %}
<div class="container-form">
    <h1>Agregar Paciente</h1>
    <form action="{% url 'agregar-doctor' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" id="dni" name="dni" required>
            </div>
            <div class="form-group">
                <label for="foto-perfil">Foto de Perfil (JPG)</label>
                <input type="file" id="foto-perfil" name="foto-perfil" accept=".jpg" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="fecha-nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>
            </div>
            <div class="form-group">
                <label for="genero">Género</label>
                <select id="genero" name="genero" required>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="tel" id="celular" name="celular" required>
            </div>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" id="correo" name="correo" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" required>
            </div>
            <div class="form-group">
                <label for="ocupacion">Ocupacion</label>
                <input type="text" id="ocupacion" name="ocupacion" required>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Agregar">
        </div>
    </form>
</div>
{% endblock %}