{% extends 'generic.html' %}

{% block title %}historial{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/cliente/historial.css' %}">
{% endblock %}

{% block history_active %}active{% endblock %}

{% block history_icon %}
<img src="{% static 'icon/history-color.png' %}" alt="historial">
{% endblock %}

{% block content %}
    <div class="header-content">
        <h2>Resumen General</h2>
        <p><strong>Ultima cita</strong>: {% if proxima_cita%} {{proxima_cita.fecha}}{%else%}No hay proxima cita{%endif%}</p>
        <p><strong>Proxima cita</strong>: {{ultimo_reporte.cita.fecha}}</p>
        <p><strong>Recomendaciones actuales</strong>: {{ultimo_reporte.recomendaciones}}</p>
    </div>

    <div class="table-container">
        <table id="doctorsTable">
            <thead>
                <tr>
                    <th>Detalles</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes %}
                    <tr>
                        <td>
                            <div class="info">
                                <span>{{ reporte.cita }}</span>
                            </div>
                        </td>
                        <td>{{ reporte.cita.fecha }}</td>
                        <td>{{ reporte.cita.estado }}</td>
                        <td>
                            <a class="ver-mas" href="{% url 'generate_pdf' reporte.cita.id %}" target="_blank">Ver PDF</a>
                        </td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
    </div>
{% endblock %}


{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const tableRows = document.querySelectorAll('#doctorsTable tbody tr');

        searchInput.addEventListener('keyup', function() {
            const searchTerm = searchInput.value.toLowerCase().trim();

            tableRows.forEach(row => {
                const doctorName = row.querySelector('.info span').textContent.toLowerCase();

                if (doctorName.includes(searchTerm)) {
                    row.style.display = ''; 
                } else {
                    row.style.display = 'none';  
                }
            });
        });
    });
</script>
{% endblock %}